<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/registers" role="button">Register Student</a>
  {{!-- <a class="btn btn-primary btn-lg" href="/logins" role="button">Lo</a> --}}
  <a class="btn btn-primary btn-lg" href="/registerstaf" role="button">Register Staff</a>
  {{!-- <a class="btn btn-primary btn-lg" href="/loginst" role="button">Learn more</a> --}}
  <a class="btn btn-primary btn-lg" href="/registerc" role="button">Rgister Course</a>
  {{!-- <a class="btn btn-primary btn-lg" href="/loginc" role="button">Learn more</a> --}}
</div>